@model List<fyp_One.Models.Cater>
@{
    ViewBag.Title = "Cater List";
}

<div class="jumbotron jumboCater-bg">@*change-test*@
    <div class="container" style="background-color:rgba(220,220,220, 0.5); border-radius:0.4px; padding:1.4em; margin-top:110px; color:#333333;">
        <h1 style="text-align:center; "><strong>Caters</strong></h1>
        <p style="color: #333333; text-align:justify">
            Looking for a <b>Best caterer</b>? EventPlanatizer offers the gold standard for <b>caterers</b> with links, 
            catering menus and detailed info about <b>top catering businesses</b>.
            Whether you're planning to cater a wedding reception, corporate event or banquet, <b>Pakistans</b> 
            most creative and stylish caterers are just a click away.

        </p>
    </div>
</div>
<div class="container">

   
@foreach (var item in Model)
{
    <div class="feature-full-1col">

        <div class="image" style="background-image: url('@("../../Uploads/cater-" + item.Id + "/1.PNG")');">
            @*<img src="~/Content/images/no-img.png" style="width:85%" />*@
            @*<div class="descrip text-center">
                    <p><small>For as low as</small><span id="display-price">Rs @item.venuePrice</span></p>
                </div>*@
        </div>
        <div class="desc">
            <h3 id="display-name"><b>@item.CaterServiceName</b> <span class="glyphicon glyphicon-ok-sign" style="color:#FF5722;" title="Verified "></span></h3>
            <div>
                <p id="display-addr">
                    <strong>Address</strong> &nbsp;@item.CaterAddres.ElementAt(0).cStreetAddress,
                    @item.CaterAddres.ElementAt(0).cCity
                </p>
            </div>

            <div>
              @*  <p style="color: #FF5722"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> 95 Reviews</p>*@
                @*<p id="display-cap"><strong>Capacity</strong> &nbsp;@item.Menus.ElementAt(0).Mtype</p>*@
            </div>
            <p>
                <a href="/CaterManage/menu?id=@(item.Id)" class="btn btn-primary btn-luxe-primary">
                    See Details
                    <i class="ti-angle-right"></i>
                </a>
            </p>
        </div>


    </div>
}

</div>

<div style="height:100px; margin-top:5px;"></div>
<style>
.dhr {
    border-top: 1px solid #ededed;
    padding-top:10px;
    padding-bottom:10px;
}

.vendor {
    position: relative;
}
article{
    display:block;
}
* {
    box-sizing: border-box;
}
.feature-full-1col{
    border:solid;
    border-width:1.4px;
    border-color:silver;
    margin:15px
}

.feature-full-1col:hover{
    border:solid;
    border-width:1.4px;
    border-color:#FF5722;
}

 .vendor.list a.vendor__inner {
        position: relative;
        display:block;
        padding:10px;
        text-decoration:none;
        min-height:100px;
        background-color: transparent;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    #fh5co-header {
    background-color: #FF5722;
}
    .venue-list-info p {
        font-size: 19px;
        line-height: 1.5;
        font-weight: 500;
        color:#0c0c0c;
    }
    .jumboCater-bg {
        background: url('../../Content/images/cater-bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>