@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container">


    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address style="margin-top:100px;">
        Event PLANATIZER<br />
        Karachi, KH 45500<br />
        <abbr title="Phone">P:</abbr>
        (021) 312 345 67
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">faizanak@hotmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">saad94@live.com</a>
    </address>


</div>
<style>
#fh5co-header {
    background-color: #FF5722;
}
</style>