@model fyp_One.Models.DashBoardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    @*<div class="col-lg-2">
       
       <nav  class="lnav navbar-fixed-bottom">
           <ul class="nav navbar-nav lnav top-bar fixed" >

               <li style="width:100%;" ><a style="color:#ffffff; border-top:solid; border-top-width:1.5px;" href="/Dashboard/Add" target="_blank">List your Venue</a></li>
               <li style="width:100%;"><a style="color:#ffffff; border-top:solid; border-top-width:1.5px;" href="/Dashboard/venuedate">Manage your venue</a></li>
               <li style="width:100%"><a style="color:#ffffff; border-top:solid; border-top-width:1.5px;" href="#">Catering services</a></li>
                
               
               <li style="width:100%"><a style="color:#ffffff; border-top:solid; border-top-width:1.5px;" href="#">Edit Cater</a></li>
               <li style="width:100%"><a style="color:#ffffff; border-top:solid; border-bottom:solid; border-top-width:1.5px; border-bottom-width:1.5px;" href="#">Settings</a></li>
           </ul>
       </nav>
    </div>*@
    <div class="container" style="margin-top:130px;">
        <div class="row" style="text-align:center;">
            <h2>List your Wedding Hall with us</h2>

            <p>Thousand of People search our directory to find best Wedding halls. Are you Listed?</p>
                        
        </div>
        <div style="height:100px;"></div>

        <div class="row" style="text-align:center;">
            <div class="col-md-1" style="padding-right:150px;"> </div>
            <div class="col-md-3">
                <h3><span class="glyphicon glyphicon-home"></span><br />More Leads</h3>
                <p>Get highly targeted and Qualified Sales leads for your wedding hall. Book your hall in Advance.</p>

            </div>
            <div class="col-md-3">
                <h3><span class="glyphicon glyphicon-signal"></span><br />More Leads</h3>
                <p>Get highly targeted and Qualified Sales leads for your wedding hall. Book your hall in Advance.</p>

            </div>
            <div class="col-md-3">
                <h3><span class="glyphicon glyphicon-bullhorn"></span><br />More Promotion</h3>
                <p>Get Exposure through Our Social Media Channels and Reach out to your target Audience.</p>

            </div>
        </div>

       
    </div>
</div>

<style>
    .lnav {
    margin-top:98px;
    background-color:#3c3c3c;
    color:#ffffff;
    width: 140px;
    /*position: fixed;*/
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

#fh5co-header {
    background-color: #FF5722;
}
</style>